---
import Layout from "../layouts/Layout.astro";
import { ViewTransitions } from "astro:transitions";
const title = "Toadland";
const subtitle = "О нас";
const description =
  "Приватный minecraft сервер 1.20.1 с модами и дружелюбной атмосферой! | О нас";
const pageIcon = "/icons/about.svg";
---

<Layout title={title} {subtitle} icon={pageIcon} description={description}>
  <div class="about-wrapper">
    <div class="about-container">
      <p class="about-text">
        <span class="about-highlight">ToadLand</span> — это проект, который родился
        из нашей личной инициативы. Мы никогда не стремились к тому, чтобы наша цель
        была только коммерческой. 💡 Средства, которые вносят игроки, играя на нашем
        сервере, — это просто необходимый минимум для покрытия части расходов на
        поддержку и развитие проекта.
      </p>
      <br />
      <p class="about-text">
        Мы искренне хотим, чтобы каждый из вас проводил время на сервере с
        удовольствием и комфортом! 😊 Поэтому мы постоянно работаем над тем,
        чтобы сделать <span class="about-highlight">ToadLand</span> ещё лучше, внимательно
        прислушиваясь к вашему мнению. Ведь именно ваше мнение — наш главный ориентир!
        🔍
      </p>
      <br />
      <p class="about-text">
        <span class="about-highlight">ToadLand</span>, как и наша команда,
        только начинает свой путь. 🚀 Были тяжёлые моменты, когда и
        разработчикам, и игрокам приходилось сталкиваться с трудностями. Но
        сегодня мы продолжаем идти вперёд, и благодаря вашему опыту и поддержке,
        преодолеваем все вызовы вместе! 💪
      </p>
      <br />
      <p class="about-text">
        Мы благодарны каждому из вас за поддержку, которую вы нам оказываете. 🙏
        Без вас <span class="about-highlight">ToadLand</span> не был бы тем, чем
        он является сегодня. Спасибо вам за всё! ❤️🐸
      </p>
    </div>
  </div>
</Layout>
<ViewTransitions />
<style>
  .about-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
  }

  .about-text {
    font-family: gilroy-bold;
    font-size: 28px;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: left;
    line-height: 1.6;
  }

  .about-highlight {
    color: var(--color-black);
    letter-spacing: -1px;
    font-family: gilroy-black;
  }
</style>
