---
import Layout from "../layouts/Layout.astro";
import Frogs from "../components/Frogs.astro";
import { fade } from "astro:transitions";

const title = "Toadland";
const subtitle = "О нас";
const description =
  "Узнайте больше о нашей команде, целях и философии сервера.";
const pageIcon = "/icons/about.svg";
---

<Layout title={title} {subtitle} icon={pageIcon} description={description}>
  <div class="about-wrapper">
    <div class="about-container">
      <p class="about-text">
        <span class="about-highlight">ToadLand</span> — это проект, который родился
        из нашей личной инициативы. Мы никогда не стремились к тому, чтобы наша цель
        была только коммерческой. Средства, которые вносят игроки, играя на нашем
        сервере, — это просто необходимый минимум для покрытия части расходов на
        поддержку и развитие проекта.
      </p>
      <br />
      <p class="about-text">
        Мы искренне хотим, чтобы каждый из вас проводил время на сервере с
        удовольствием и комфортом! 😊 Поэтому мы постоянно работаем над тем,
        чтобы сделать <span class="about-highlight">ToadLand</span> ещё лучше, внимательно
        прислушиваясь к вашему мнению. Ведь именно ваше мнение — наш главный ориентир!
      </p>
      <br />
      <p class="about-text">
        <span class="about-highlight">ToadLand</span>, как и наша команда,
        только начинает свой путь. Были тяжёлые моменты, когда и разработчикам,
        и игрокам приходилось сталкиваться с трудностями. Но сегодня мы
        продолжаем идти вперёд, и благодаря вашему опыту и поддержке,
        преодолеваем все вызовы вместе!
      </p>
      <br />
      <p class="about-text">
        Мы благодарны каждому из вас за поддержку, которую вы нам оказываете.
        Без вас <span class="about-highlight">ToadLand</span> не был бы тем, чем
        он является сегодня. Спасибо вам за всё! ❤️
      </p>
      <div class="frog-emoji frog-left">🐸</div>
      <div class="frog-emoji frog-right">🐸</div>
    </div>
    <Frogs />
  </div>

  <style>
    .about-wrapper {
      max-width: 1440px;
      margin: 0 auto;
      padding: 40px 20px;
      border-radius: 15px;
    }

    .about-container {
      background: var(--color-bg);
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden;
    }

    .about-text {
      font-family: "Gilroy-Bold", sans-serif;
      font-size: 24px;
      margin-bottom: 15px;
      text-align: left;
      line-height: 1.8;
      color: var(--color-title);
      position: relative;
      z-index: 1;
    }

    .about-highlight {
      font-family: "Gilroy-Black", sans-serif;
      position: relative;
      display: inline-block;
    }

    .about-highlight::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 8px;
      background: no-repeat;
      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg width='100%' height='10px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5 Q10 0 20 5 T40 5 T60 0 T80 5 T100 5' fill='none' stroke='%23ff5722' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
    }

    .frog-emoji {
      font-size: 80px;
      position: absolute;
    }
    .frog-emoji::selection {
      background: inherit;
      color: initial;
    }
    .frog-left {
      transform: rotate(160deg);
      top: -30px;
      left: -30px;
    }

    .frog-right {
      transform: rotate(-50deg);
      bottom: -30px;
      right: -30px;
    }
  </style>
</Layout>
