---
import Layout from "../layouts/Layout.astro";
const title = "Toadland";
const subtitle = "Доступ";
const description =
  "Приватный minecraft сервер 1.20.1 с модами и дружелюбной атмосферой! | Покупка доступа к серверу";
const pageIcon = "/icons/buy.svg";
---

<Layout title={title} {subtitle} icon={pageIcon} description={description}>
  <div class="buy-wrapper">
    <h1 class="buy-heading">
      Здесь Вы можете оплатить игру на сервере или же совершить пожертвование на
      развитие проекта через форму оплаты ниже.
    </h1>
    <h2 class="buy-subheading">
      Для получения доступа к серверу необходимо совершить пожертвование <span
        >от 100р.</span
      >
    </h2>
    <div class="donate-container">
      <section class="donate-section">
        <button class="donate-button"
          ><svg
            class="donate-button-icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 -960 960 960"
            ><path
              d="M640-440 474-602q-31-30-52.5-66.5T400-748q0-55 38.5-93.5T532-880q32 0 60 13.5t48 36.5q20-23 48-36.5t60-13.5q55 0 93.5 38.5T880-748q0 43-21 79.5T807-602L640-440Zm0-112 109-107q19-19 35-40.5t16-48.5q0-22-15-37t-37-15q-14 0-26.5 5.5T700-778l-60 72-60-72q-9-11-21.5-16.5T532-800q-22 0-37 15t-15 37q0 27 16 48.5t35 40.5l109 107ZM280-220l278 76 238-74q-5-9-14.5-15.5T760-240H558q-27 0-43-2t-33-8l-93-31 22-78 81 27q17 5 40 8t68 4q0-11-6.5-21T578-354l-234-86h-64v220ZM40-80v-440h304q7 0 14 1.5t13 3.5l235 87q33 12 53.5 42t20.5 66h80q50 0 85 33t35 87v40L560-60l-280-78v58H40Zm80-80h80v-280h-80v280Zm520-546Z"
            ></path></svg
          >Пожертвовать</button
        >
      </section>
      <p class="buy-text">
        Обязательно напишите нам в личные сообщения сообщества ВКонтакте после
        оплаты по форме ниже, чтобы мы могли выслать Вам все необходимые данные!
      </p>
    </div>
    <!-- Модальное окно -->
    <div id="donate-modal" class="modal-background">
      <div class="modal-content">
        <h2 class="modal-title">Выберите подходящий вариант.</h2>
        <span class="close-button">&times;</span>
        <ul class="modal-options">
          <li class="modal-option yoomoney-container">
            <a href="https://yoomoney.ru" class="donate-option">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="modal-content-icon"
                viewBox="0 -960 960 960"
              >
                <path
                  d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
                ></path>
              </svg>
              <h3 class="modal-heading">Yoomoney</h3>
            </a>
          </li>
          <li class="modal-option card-container">
            <span class="card-number" data-number="1234 5678 9012 3456">
              <svg
                class="modal-content-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 -960 960 960"
              >
                <path
                  d="M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z"
                ></path>
              </svg>
              <h3 class="modal-heading">Номер карты</h3>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div id="notification" class="notification">Номер карты скопирован</div>

    <section class="buy-faq">
      <h2 class="faq-heading">Ответы на вопросы</h2>
      <div class="faq-item">
        <button class="faq-title"
          >Имеет ли срок действия купленая проходка?</button
        >
        <div class="faq-content">
          <p>
            На данный момент, мы никак не ограничиваем по сезонам\времени доступ
            к серверу
          </p>
        </div>
      </div>
      <div class="faq-item">
        <button class="faq-title"
          >Могу ли я вернуть деньги если мне не понравится сервер?</button
        >
        <div class="faq-content">
          <p>
            Да, вы можете вернуть средства. Но только в первый день игры (от
            момента первого захода на сервер). Все комиссии за обратный перевод
            перекладываются на получателя.
          </p>
        </div>
      </div>
      <div class="faq-item">
        <button class="faq-title"
          >Я хочу перед покупкой связаться с администрацией, как мне это
          сделать?</button
        >
        <div class="faq-content">
          <p>Вы можете обратиться к ССЫЛКА</p>
        </div>
      </div>
      <div class="faq-item">
        <button class="faq-title"
          >Какие модификации установлены на сервере?</button
        >
        <div class="faq-content">
          <p>Со списком модификаций вы можете ознакомиться по ССЫЛКА</p>
        </div>
      </div>
      <div class="faq-item">
        <button class="faq-title"
          >У меня нет возможности оплатить доступ по предложенным реквизитам</button
        >
        <div class="faq-content">
          <p>Вы можете написать . чтобы получить больше вариантов</p>
        </div>
      </div>
      <div class="faq-item">
        <button class="faq-title"
          >Есть ли возможность зайти бесплатно, посмотреть сервер чтобы решить
          хочу ли я у вас играть?</button
        >
        <div class="faq-content">
          <p>
            Мы можем рассмотреть такой вариант в индивидуальном порядке.
            Напишите:
          </p>
        </div>
      </div>
      <div class="faq-item">
        <button class="faq-title"
          >За что я плачу когда делаю пожертвование?</button
        >
        <div class="faq-content">
          <p>
            Все средства идут на частичную компенсацию личных затрат за хостинг.
            Мы некоммерческий проект, у нас нет никаких донатных привелегий.
            Наша команда содержит сервер из личных средств. Подробнее о нас вы
            можете прочитать на одноименной странице:
          </p>
        </div>
      </div>
    </section>
  </div>
</Layout>
<style>
  .buy-wrapper {
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .buy-heading {
    font-family: gilroy-bold;
    text-align: center;
  }
  .buy-subheading {
    font-family: gilroy-bold;
    text-align: center;
  }
  .buy-subheading span {
    font-family: gilroy-exbold;
    color: var(--color-accent);
  }
  .buy-text {
    text-align: center;
    max-width: 768px;
    margin: 0 auto;
  }
  .buy-intro,
  .buy-features,
  .buy-purchase {
    margin-bottom: 20px;
  }

  h2 {
    color: #333;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  .faq-item {
    margin-bottom: 10px;
  }
  .faq-heading {
    text-align: center;
    font-family: gilroy-black;
    font-size: 2rem;
  }
  .faq-title {
    background-color: var(--color-green-300);
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: gilroy-bold;
  }

  .faq-content {
    display: none;
    padding: 10px;
    background-color: var(--color-white);
    font-family: gilroy-medium;
    font-size: 1.2rem;
    border-radius: 0 0 10px 10px;
  }
  .faq-content > p {
    margin: 10px;
  }
  .donate-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .donate-section {
    display: flex;
    padding: 20px;
    border-radius: 14px;
    position: relative;
    justify-content: center;
  }

  .donate-button {
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    background-color: var(--color-green-300);
    padding: 1rem;
    text-transform: uppercase;
    font-family: gilroy-bold;
    font-size: 1.5rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
  }
  .donate-button-icon {
    background-color: var(--color-green-400);
    padding: 0.5rem;
    border-radius: 10px;
    width: 24px;
    height: 24px;
    fill: var(--color-green-100);
    margin-right: 5px;
  }
  /* Модальное окно */
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.053);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
    z-index: 1000;
  }
  .modal-title {
    font-size: 2rem;
    font-family: gilroy-bold;
  }
  .modal-content-icon {
    fill: #fff;
    height: 24px;
    width: 24px;
    background-color: var(--color-green-400);
    padding: 0.5rem;
    border-radius: 10px;
  }
  .modal-background.open {
    opacity: 1;
    visibility: visible;
  }
  .card-number {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .donate-option {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    text-align: center;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }

  .modal-heading {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 1.5rem;
    margin: 0;
  }

  .modal-options {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .modal-option {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 15px;
    background-color: var(--color-green-300);
    border-radius: 12px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
  }

  .modal-content-icon {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }
  .notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: 1337;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
  }

  /* Анимации */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
</style>
<script>
  document.addEventListener("astro:page-load", function () {
    const faqTitles = document.querySelectorAll(".faq-title");

    faqTitles.forEach((title) => {
      title.addEventListener("click", function () {
        const content = this.nextElementSibling;

        // Убедимся, что content действительно является HTMLElement
        if (content instanceof HTMLElement) {
          // Закрываем другие открытые элементы
          document.querySelectorAll(".faq-content").forEach((item) => {
            if (item !== content) {
              (item as HTMLElement).style.display = "none";
            }
          });

          // Переключаем отображение текущего элемента
          content.style.display =
            content.style.display === "block" ? "none" : "block";
        }
      });
    });
  });
</script>
<script is:inline data-astro-rerun>
  document.addEventListener("astro:page-load", function () {
    const donateButton = document.querySelector(".donate-button");
    const modal = document.getElementById("donate-modal");
    const closeButton = document.querySelector(".close-button");
    const cardNumberElements = document.querySelectorAll(".card-number");
    const notification = document.getElementById("notification");

    // Показать модальное окно при клике на кнопку
    if (donateButton) {
      donateButton.addEventListener("click", function () {
        if (modal) {
          modal.classList.add("open");
          document.body.style.overflow = "hidden"; // Запрет прокрутки страницы
        }
      });
    }

    // Закрыть модальное окно при клике на кнопку закрытия
    if (closeButton) {
      closeButton.addEventListener("click", function () {
        if (modal) {
          modal.classList.remove("open");
          document.body.style.overflow = "auto"; // Разрешение прокрутки страницы
        }
      });
    }

    // Закрыть модальное окно при клике вне его области
    window.addEventListener("click", function (event) {
      if (event.target === modal) {
        if (modal) {
          modal.classList.remove("open");
          document.body.style.overflow = "auto"; // Разрешение прокрутки страницы
        }
      }
    });

    // Функция для показа уведомления
    function showNotification() {
      if (notification) {
        notification.style.opacity = "0"; // Начальное состояние для анимации появления
        notification.style.visibility = "visible";
        notification.style.animation = "fadeIn 0.3s ease-out forwards"; // Анимация появления

        setTimeout(() => {
          notification.style.animation = "fadeOut 0.3s ease-out forwards"; // Анимация исчезновения

          // После окончания анимации скрываем уведомление
          setTimeout(() => {
            notification.style.visibility = "hidden"; // Скрываем уведомление
          }, 300); // Длительность анимации исчезновения
        }, 2000); // Время отображения уведомления
      }
    }

    // Копирование номера карты в буфер обмена и показ уведомления
    cardNumberElements.forEach((cardNumberElement) => {
      cardNumberElement.addEventListener("click", function () {
        const cardNumber = this.getAttribute("data-number");
        if (cardNumber) {
          navigator.clipboard.writeText(cardNumber).then(() => {
            showNotification();
          });
        }
      });
    });
  });
</script>
