---
import Layout from "../layouts/Layout.astro";
const title = "Toadland";
const subtitle = "Покупка доступа";
const description =
  "Приватный minecraft сервер 1.20.1 с модами и дружелюбной атмосферой! | Покупка доступа к серверу";
---

<Layout title={title} {subtitle} description={description}>
  <div class="buy-wrapper">
    <h1 class="buy-wrapper-title">{title}</h1>
    <div class="buy-container">
      <h1>Присоединиться к серверу</h1>
      <form id="join-form" action="/pay" method="GET">
        <label for="nickname">Введите ваш никнейм в Minecraft:</label>
        <input type="text" id="nickname" name="nickname" required />
        <button type="submit">Перейти к оплате</button>
      </form>
    </div>
  </div>
</Layout>
<style></style>
