---
import Layout from "../layouts/Layout.astro";
const title = "Toadland - Покупка прходки";
const description =
  "Приватный minecraft сервер 1.20.1 с модами и дружелюбной атмосферой! | Покупка проходки";
---

<Layout title={title} description={description}>
  <h1>Покупка</h1>
</Layout>
