---
import Layout from "../layouts/Layout.astro";
const title = "Toadland";
const subtitle = "Покупка доступа";
const description =
  "Приватный minecraft сервер 1.20.1 с модами и дружелюбной атмосферой! | Покупка доступа к серверу";
---

<Layout title={title} {subtitle} description={description}>
  <div class="buy-wrapper">
    <h1 class="buy-wrapper-title">{title}</h1>
    <div class="buy-container">
      <h2 class="buy-container-title">
        Здесь Вы можете оплатить игру на сервере
      </h2>
      <p class="buy-container-text">
        Присоединяйся к toadland за 100 рублей. Одного платежа достаточно, чтобы
        играть на сервере все ближайшие сезоны.
      </p>
      <div class="yoomoney-container">
        <iframe
          class="yoomoney-iframe"
          src="https://yoomoney.ru/quickpay/fundraise/button?billNumber=12351ISL51E.240413&"
          width="330"
          height="50"
          frameborder="0"
          allowtransparency="true"
          scrolling="no"></iframe>
      </div>
    </div>
  </div>
</Layout>
<style></style>
