---
import Layout from "../layouts/Layout.astro";
const title = "Toadland";
const subtitle = "Доступ";
const description =
  "Приватный minecraft сервер 1.20.1 с модами и дружелюбной атмосферой! | Покупка доступа к серверу";
const pageIcon = "/icons/buy.svg";
---

<Layout title={title} {subtitle} icon={pageIcon} description={description}>
  <div class="buy-wrapper">
    <div class="buy-container">
      <h1>Присоединиться к серверу</h1>
    </div>
  </div>
</Layout>
<style></style>
