---
import Layout from "../layouts/Layout.astro";
const title = "Toadland - Покупка доступа";
const description =
  "Приватный minecraft сервер 1.20.1 с модами и дружелюбной атмосферой! | Покупка доступа к серверу";
---

<Layout title={title} description={description}>
  <div class="buy-wrapper">
    <h1 class="buy-wrapper-title">{title}</h1>
  </div>
</Layout>
