---
import Layout from "../layouts/Layout.astro";
import { ClientRouter } from "astro:transitions";
const title = "Toadland";
const subtitle = "Предложения";
const description = "Предложения по улучшению сервера";
const pageIcon = "/icons/wiki.svg";
---

<Layout title={title} {subtitle} icon={pageIcon} description={description}>
  <div data-astro-transition="animate" class="improvement-container">
    <script is:inline src="https://forms.yandex.ru/_static/embed.js"></script>

    <div class="iframe-container">
      <iframe
        src="https://forms.yandex.ru/cloud/676c5c655056909b14da5c27/?iframe=1"
        frameborder="0"
        name="ya-form-676c5c655056909b14da5c27"
        overflow-y="scroll"></iframe>
    </div>
  </div>
</Layout>
<style>
  iframe {
    margin: 0 auto;

    width: 768px;

    @media (max-width: 800px) {
      width: 600px;
    }
    @media (max-width: 650px) {
      width: 450px;
    }
    @media (max-width: 512px) {
      width: 340px;
    }
    @media (max-width: 378px) {
      width: 240px;
      overflow-x: auto;
    }
  }
  .iframe-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: calc(100% - 80px);
  }
  .improvement-container {
    max-width: 1440px;
    margin: 0 auto;
  }
</style>
