---
import MainPage from "../components/MainPage.astro";
import MainTest from "../components/MainTest.astro";
import Test2 from "../components/Test2.astro";
import Layout from "../layouts/Layout.astro";
import { fade } from "astro:transitions";
import { ViewTransitions } from "astro:transitions";
const title = "Toadland";
const subtitle = "Главная";
const description =
  "Приватный Minecraft сервер 1.20.1 с модами и дружелюбной атмосферой!";
const pageIcon = "/icons/love.svg";
---

<ViewTransitions />
<Layout title={title} {subtitle} icon={pageIcon} description={description}>
  <main class="main-page-container">
    <Test2 slot="MainTest" />
  </main>
</Layout>

<style>
  .main-page-container {
    margin: 0 auto;
    max-width: 1440px;
  }
  body {
    margin: 0;
    padding: 0;
  }
</style>
