---
import MainPage from "../components/MainPage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Toadland">
  <main>
    <MainPage slot="MainPage" />
  </main>
</Layout>
<style>
  body {
    margin: 0;
    padding: 0;
    background: var(--color-bg);
  }
</style>
