---
import Layout from "../layouts/Layout.astro";
import { fade } from "astro:transitions";
const title = "Toadland";
const subtitle = "Карта";
const description =
  "Исследуйте мир сервера с помощью интерактивной карты. Узнайте, что вас ждет.";
const pageIcon = "/icons/map.svg";
---

<Layout title={title} {subtitle} icon={pageIcon} description={description}>
  <div class="map-wrapper">
    <iframe class="map-iframe" src="https://map.toadland.ru">Загрузка</iframe>
  </div>
</Layout>
<style>
  .map-wrapper {
    height: 100%;
    width: 100%;
  }
  .map-iframe {
    border: none;
    height: 100%;
    width: 100%;
  }
  .full-map-button {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
  }
</style>
