---
import Layout from "../layouts/Layout.astro";
const title = "Toadland";
const subtitle = "Моды";
const description =
  "Приватный minecraft сервер 1.20.1 с модами и дружелюбной атмосферой! | Сборка модов";
---

<Layout title={title} {subtitle} description={description}>
  <h1>Моды</h1>
</Layout>
