---
import Layout from "../layouts/Layout.astro";
const title = "Toadland - Новости";
const description =
  "Приватный minecraft сервер 1.20.1 с модами и дружелюбной атмосферой! | Новости сервера";
---

<Layout title={title} description={description}>
  <h1>Новости</h1>
</Layout>
