---
import Layout from "../layouts/Layout.astro";
const title = "Toadland";
const subtitle = "Новости";
const description =
  "Приватный minecraft сервер 1.20.1 с модами и дружелюбной атмосферой! | Новости сервера";
const pageIcon = "/icons/news.svg";
import Rss from "../components/RRS.astro";
---

<Layout title={title} {subtitle} icon={pageIcon} description={description}>
  <div class="news-wrapper">
    <h1 class="news-down-heading">Новости взяты из нашего телеграм канала</h1>
  </div>
</Layout>
<style>
  .news-wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  .news-down-heading {
    text-align: center;
    font-family: gilroy-black;
    opacity: 0.5;
  }
</style>
