---
import Layout from "../layouts/Layout.astro";
import { fade } from "astro:transitions";
import { ClientRouter } from "astro:transitions";
const title = "Toadland";
const subtitle = "Новости";
const description =
  "Будьте в курсе всех обновлений, событий и анонсов сервера.";
const pageIcon = "/icons/news.svg";
---

<Layout title={title} {subtitle} icon={pageIcon} description={description}>
  <div data-astro-transition="animate" class="news-wrapper">
    <h1 class="news-down-heading">В разработке</h1>
  </div>
</Layout>
<style>
  .news-wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  .news-down-heading {
    text-align: center;
    font-family: gilroy-black;
    opacity: 0.5;
  }
</style>
