---
import { fade } from "astro:transitions";
import Layout from "../layouts/Layout.astro";
import { ClientRouter } from "astro:transitions";
const title = "Toadland";
const description =
  "Ознакомьтесь с правилами, чтобы сделать игру комфортной и безопасной для всех.";
const subtitle = "Правила";
const pageIcon = "/icons/rules.svg";
---

<Layout
  data-astro-transition="fade"
  title={title}
  {subtitle}
  icon={pageIcon}
  description={description}
>
  <div data-astro-transition="animate" class="rules-container">
    <div class="warning-banner">
      <div class="icon-wrapper">
        <svg
          class="warning-svg"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 -960 960 960"
        >
          <path
            d="M480-120q-33 0-56.5-23.5T400-200q0-33 23.5-56.5T480-280q33 0 56.5 23.5T560-200q0 33-23.5 56.5T480-120Zm-80-240v-480h160v480H400Z"
          ></path>
        </svg>
      </div>
      <p>
        Зайдя на сервер, игрок автоматически считается ознакомленным со всеми
        действующими правилами и принимает на себя ответственность за их
        соблюдение.
      </p>
    </div>

    <ul class="rules-list">
      <li class="rule-item">
        <h2 class="rule-title">Чат</h2>
        <ul class="sub-rules">
          <li>
            Запрещены оскорбления в адрес игроков, Администрации, их родных и
            близких лиц и проекта, в том числе с помощью переименования
            предметов.
          </li>
          <li>Запрещено чрезмерное использование ненормативной лексики.</li>
          <li>Запрещено введение в заблуждение игроков и Администрации.</li>
          <li>Запрещено представляться членом Администрации.</li>
          <li>
            Запрещена отправка множества сообщений и команд подряд (спам).
          </li>
          <li>
            Запрещена отправка в /helpop сообщений, не являющихся просьбой о
            помощи.
          </li>
          <li>Запрещена реклама иных серверов, сторонних сайтов, игр и пр.</li>
          <li>Запрещён обход мута посредством переименования предмета.</li>
        </ul>
      </li>
      <li class="rule-item">
        <h2 class="rule-title">Игровой процесс</h2>
        <h3 class="sub-title">Общее</h3>
        <ul class="sub-rules">
          <li>
            Запрещено использование программ, текстурпаков и пр., дающих
            преимущество над другими игроками.
          </li>
          <li>Запрещено создание и использование дюпа.</li>
          <li>
            Запрещено использование багов и ошибок игры и сервера если таковые
            дают преимущества над другими игроками.
          </li>
          <li>
            Запрещён несанкционированный доступ к чужому аккаунту на сервере.
          </li>
          <li>Запрещено мешать игровому процессу других игроков.</li>
          <li>Запрещено убивать других игроков без весомой RP-причины.</li>
          <li>Запрещено убивать одного игрока несколько раз подряд.</li>
          <li>
            Запрещено использовать лаг-машины, механизмы, плагины и иное,
            чрезмерно нагружающее сервер и нарушающее его работоспособность.
          </li>
          <li>
            Запрещён шантаж, вымогательство реальных/игровых денежных средств,
            ресурсов, информации и пр.
          </li>
          <li>
            Запрещена автоматизация игрового процесса: <br /> Разрешено находиться
            в игре в состоянии AFK (отсутствие активности), но запрещается любая
            форма автоматизации игрового процесса, включая использование стороннего
            софта, макросов, бинд клавиш или других способов, имитирующих действия
            игрока. <br /> Пример: Игрок может находиться AFK на спавн-ферме для
            ожидания появления мобов, при условии, что он не производит автоматических
            действий. Разрешается самостоятельно, вручную производить действия (например,
            удары мобов), но только без использования автоматизации. Нарушение данного
            правила рассматривается администрацией как использование нечестных преимуществ.
          </li>
        </ul>
        <h3 class="sub-title">Грифферство</h3>
        <ul class="sub-rules">
          <li>
            Запрещено разрушать либо видоизменять чужие постройки, в том числе
            таблички.
          </li>
          <li>
            Запрещено взаимодействовать с блоками других игроков и,
            соответственно, запрещено брать/воровать чужие вещи.
          </li>
        </ul>
        <h3 class="sub-title">Строительство</h3>
        <ul class="sub-rules">
          <li>
            Запрещено строиться на чужой территории либо поблизости без
            разрешения ответственного лица.
          </li>
          <p class="rule-dop">
            Занятая территория определяется как область, ограниченная самыми
            крайними размещенными блоками игрока в каждом из четырех направлений
            (север, юг, восток, запад), с радиусом 200 блоков от этих границ.
            Строительство в пределах этой зоны без разрешения ответственного
            лица запрещено. Данное правило актуально только в случае, если
            территория игрока не нанесена на игровую карту.
          </p>
          <li>
            Территория считается занятой, если ее границы нанесены на игровую
            карту. Если границы не нанесены, считается, что территория включает
            область от самых крайних размещенных блоков игрока в каждом из
            четырех направлений с радиусом 200 блоков от них. Спорные ситуации
            решаются по усмотрению администрации.
          </li>
          <li>
            Запрещено портить ландшафт мира бесполезными
            постройками/блоками/сущностями и чрезмерными разрушениями.
          </li>
        </ul>
        <h3 class="sub-title">Войны</h3>
        <ul class="sub-rules">
          <li>
            Для объявления войны глава государства/города и пр. обязан
            оповестить противника, указав причины войны.
          </li>
          <li>
            Сторона, которой объявляется война, должна ознакомиться с
            оповещением о начале войны и принять её.
          </li>
          <li>
            Война между сторонами может быть остановлена Администрацией в случае
            установления нарушений.
          </li>
          <li>
            Запрещено объявлять войну стороне, не имеющей паритета по силе,
            ресурсам и людям.
          </li>
          <li>
            Во время войны запрещено необоснованное разрушение строений либо
            порча ландшафта.
          </li>
        </ul>
      </li>
      <li class="rule-item">
        <h2 class="rule-title">Прочие положения</h2>
        <p class="rule-dop">
          Мера наказания зависит от частных условий дела и решения
          Администрации. Окончательная трактовка правил зависит от Администрации
          и может меняться соотносительно конкретной ситуации. Апелляции по
          вопросам наказаний и жалобы принимаются в личных сообщениях
          Администраторов в «ВКонтакте».
        </p>
        <li class="rule-item">
          <br />
          Администрация оставляет за собой право принимать окончательные решения
          в любых ситуациях, включая те, которые не предусмотрены правилами, а также
          изменять свои решения даже вопреки установленным правилам, если это необходимо
          для обеспечения порядка или поддержания интересов игрового сообщества.
        </li>
      </li>
      <li class="rule-item">
        <h2 class="rule-title">Города</h2>
        <p class="rule-dop">
          Для создания своего поселения/города/государства необходимо, чтобы
          количество будущих жителей сепарируемой стороны составляло как минимум
          5 человек. После набора необходимого числа игроков необходимо
          обратиться с соответствующим заявлением в государственные органы
          начального города. По согласованию с администрацией предусматривается
          создание поселений с меньшим количеством жителей.
        </p>
      </li>
    </ul>
  </div>

  <style>
    .rules-container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 20px;
    }

    .rules-list {
      list-style: none;
      padding: 0;
    }

    .rule-item {
      margin-bottom: 40px;
    }

    .rule-title {
      font-weight: var(--bold);
      letter-spacing: 1px;
      font-size: 28px;
      color: var(--color-title);
      border-bottom: 2px solid var(--color-accent);
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .sub-title {
      font-weight: var(--bold);
      letter-spacing: 1px;
      font-size: 20px;
      color: var(--color-title);
    }
    .rule-description {
      font-size: 1rem;
      color: #555;
      margin-bottom: 10px;
    }

    .sub-rules {
      list-style: decimal;
      margin-left: 20px;
    }
    .rule-dop {
      font-size: 0.95rem;
      color: var(--color-note-text);
    }
    .sub-rules li {
      font-size: 0.95rem;
      font-weight: var(--medium);
      color: var(--color-note-text);
      margin-bottom: 5px;
    }

    @media (max-width: 768px) {
      .main-title {
        font-size: 2rem;
        margin-bottom: 15px;
      }

      .rule-title {
        font-size: 1.5rem;
        border-bottom: 1.5px solid var(--color-accent);
        padding-bottom: 8px;
        margin-bottom: 8px;
      }

      .rule-description {
        font-size: 0.9rem;
      }

      .sub-rules {
        margin-left: 15px;
      }

      .sub-rules li {
        font-size: 0.85rem;
      }
    }

    @media (max-width: 480px) {
      .main-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }

      .rule-description {
        font-size: 0.85rem;
      }

      .sub-rules {
        margin: 0;
        padding: 0;
      }

      .sub-rules li {
        font-size: 0.8rem;
      }
    }

    .list-link-icon {
      fill: var(--color-green-200);
      width: 24px;
      height: 24px;
    }
    .rule-wrapper-title {
      text-align: center;
    }
    .rules-list-container {
      max-width: 1440px;
      margin: 1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .rule-wrapper-header {
      position: sticky;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      background-color: var(--color-green-400);
    }
    .header-links-list {
      gap: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .header-links-item {
      background-color: var(--color-green-500);
      align-items: center;
    }
    .header-links-item-link {
      letter-spacing: 1px;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 18px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-self: center;
      color: white;
      text-decoration: none;
      font-weight: var(--black);
    }
    .warning-banner {
      display: flex;
      align-items: center;
      background-color: #ffdddd; /* Неяркий красный фон */
      border-left: 6px solid #ff5a5a; /* Бордюр */
      padding: 10px 20px;
      border-radius: 8px;

      color: #600000; /* Темный красный текст */
      margin: 10px 0;
    }

    .icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #ff5a5a;
      border-radius: 8px;
      margin-right: 10px;
      flex-shrink: 0;
    }

    .warning-svg {
      width: 20px;
      height: 20px;
      fill: white;
    }

    .warning-banner p {
      margin: 0;
      font-size: 18px;
      line-height: 1.5;
      font-weight: var(--bold);
      @media (max-width: 612px) {
        font-size: 14px;
      }
    }

    @media (max-width: 480px) {
      .warning-banner {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .icon-wrapper {
        margin-right: 0;
        margin-bottom: 10px;
      }

      .warning-banner p {
        font-size: 13px;
      }
    }
  </style>
</Layout>
