---
import Layout from "../layouts/Layout.astro";
const title = "Toadland";
const subtitle = "Вики";
const description =
  "Приватный minecraft сервер 1.20.1 с модами и дружелюбной атмосферой! | Вики";
---

<Layout title={title} {subtitle} description={description}>
  <h1>Вики</h1>
</Layout>
