<footer class="main--footer">
  <div class="footer-menu-block">
    <ul class="footer-menu">
      <li class="footer-menu-element">
        <a href="https://map.toadland.ru" class="footer-menu-link"
          ><img class="footer-link-icon" src="/icons/map.svg" alt="" /></a
        >
      </li>
      <li class="footer-menu-element">
        <a href="/mods" class="footer-menu-link"
          ><img class="footer-link-icon" src="/icons/files.svg" alt="" /></a
        >
      </li>
      <li class="footer-menu-element">
        <a href="#" class="footer-menu-link"
          ><img class="footer-link-icon" src="/icons/vk.svg" alt="" /></a
        >
      </li>
      <li class="footer-menu-element">
        <a href="#" class="footer-menu-link"
          ><img class="footer-link-icon" src="/icons/tg.svg" alt="" /></a
        >
      </li>
    </ul>
  </div>
</footer>

<style>
  .main--footer {
    z-index: 2;
    padding: 2rem;
    grid-area: footer;
    background-color: var(--color-green-400);
    color: white;
    text-align: center;
  }
  .footer-menu-block {
    display: flex;
    justify-content: center;
  }
  .footer-menu {
    justify-content: center;
    list-style: none;
    gap: 20px;
    color: white;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-link-icon {
    transition: 0.2s;
    background-color: var(--color-green-500);
    padding: 0.5rem;
    border-radius: 10px;
    width: 48px;
    height: 48px;
    fill: var(--color-green-100);
  }
  .footer-link-icon:hover {
    background-color: var(--color-green-300);
  }
</style>
