---
import { fade } from "astro:transitions";
import { ViewTransitions } from "astro:transitions";
const { title, subtitle, icon } = Astro.props;
---

<ViewTransitions />
<header class="main--header">
  <span class="header-title-block"
    ><div class="header-title-dynamic-container">
      <a class="header-title-link-back" href="/"
        ><img class="header-logo" src="/icons/logo_circle.webp" alt="" /></a
      ><h1 class="header-title">
        {icon && <img src={icon} alt="header icon" class="page-icon" />}
        {subtitle}
      </h1>
    </div>
    <div class="menu-open-button">
      <svg
        class="menu-open-button-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 -960 960 960"
        ><path
          d="M150-240q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h660q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H150Zm0-210q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h660q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H150Zm0-210q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h660q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H150Z"
        ></path></svg
      >
    </div></span
  >
</header>

<div class="unique-menu-overlay" id="uniqueMenuOverlay"></div>
<div class="unique-menu" id="uniqueMenu">
  <div
    transition:animate={fade({ duration: "0.5s" })}
    class="unique-menu-top"
    id="uniqueMenuTop"
  >
    <p id="uniqueSplashText"></p>
  </div>
  <div
    transition:animate={fade({ duration: "0.5s" })}
    class="unique-menu-content"
  >
    <div
      transition:animate={fade({ duration: "0.5s" })}
      class="unique-menu-links"
    >
      <a href="/buy"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"
          ><path
            d="M251.78-70.78q-42.24 0-71.62-29.38-29.38-29.38-29.38-71.62v-450.39q0-42.25 29.38-71.62 29.38-29.38 71.62-29.38h57.72q1.7-69.53 51.26-117.79 49.56-48.26 119.16-48.26t119.24 48.38q49.64 48.38 51.34 117.67h57.72q42.24 0 71.62 29.38 29.38 29.37 29.38 71.62v450.39q0 42.24-29.38 71.62-29.38 29.38-71.62 29.38H251.78Zm0-101h456.44v-450.39H650.5v69.5q0 20.58-14.96 35.54-14.95 14.96-35.54 14.96t-35.54-14.96q-14.96-14.96-14.96-35.54v-69.5h-139v69.5q0 20.58-14.96 35.54-14.95 14.96-35.54 14.96t-35.54-14.96q-14.96-14.96-14.96-35.54v-69.5h-57.72v450.39Zm159.29-551.39h137.86q-1.69-27.22-21.45-46.13-19.76-18.92-47.51-18.92-27.75 0-47.48 19-19.73 19-21.42 46.05ZM251.78-171.78v-450.39 450.39Z"
          ></path></svg
        ><span>Покупка</span></a
      >

      <a href="/wiki"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"
          ><path
            d="M253.22-249.63q-24.79-13.69-38.96-37.52-14.17-23.83-14.17-52.15v-171.08l-81.57-44.25q-13.55-7.42-19.92-19.04-6.36-11.63-6.36-25.14 0-13.52 6.44-25.66 6.45-12.14 19.84-19.33l313.54-170.46q11.33-6.7 23.5-9.26 12.16-2.57 24.5-2.57 12.33 0 24.44 2.57 12.11 2.56 23.44 9.26l368.17 200.3q12.23 6.77 19.26 18.83 7.02 12.07 7.02 25.54v242.09q0 19.1-13.44 32.54-13.43 13.44-32.54 13.44-18.89 0-32.71-13.44-13.83-13.44-13.83-32.54v-220.89l-69.96 37.79v171.3q0 28.32-14.17 52.15t-38.96 37.52l-178.91 96.26q-11.33 6.7-23.45 9.51-12.12 2.82-24.43 2.82-12.32 0-24.43-2.82-12.1-2.81-23.43-9.51l-178.91-96.26ZM480-464.3l249.09-135.2L480-734.2 231.41-599.5 480-464.3Zm0 231.93 187.39-101.24V-460.8l-139.02 76.06q-11.33 6.7-23.53 9.51-12.2 2.82-24.96 2.82-12.77 0-24.85-2.82-12.07-2.81-23.4-9.51L292.61-460.8v127.19L480-232.37Zm.5-231.93Zm-.5 138.43Zm0 0Z"
          ></path></svg
        ><span>Вики</span></a
      >

      <a href="/rules"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"
          ><path
            d="M180.89-176h411.52q17.2 0 29.33 12.13 12.13 12.13 12.13 29.33 0 17.19-12.13 29.61-12.13 12.41-29.33 12.41H180.32q-17.19 0-29.32-12.41-12.13-12.42-12.13-29.61 0-17.2 12.41-29.33Q163.69-176 180.89-176Zm126.15-181.61-96.41-95.84q-29.41-29.42-29.63-71.13-.22-41.7 29.2-71.12l27.93-29 240.09 238.09-29 29q-29.42 29.42-71.09 29.42t-71.09-29.42Zm341.83-200.22L410.78-797.91l29-28.5q29.42-28.85 70.84-28.63 41.42.21 70.84 29.63L677.87-729q29.98 29.41 29.98 71.09 0 41.67-29.98 71.08l-29 29Zm135.59 377.9L289.91-674.48 361-745.13l494.04 494.61q14.46 14.45 14.46 34.79t-14.46 35.3q-14.45 14.95-35.04 15.2t-35.54-14.7Z"
          ></path></svg
        ><span>Правила</span></a
      >

      <a href="/mods"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"
          ><path
            d="M171.78-150.78q-42.24 0-71.62-29.38-29.38-29.38-29.38-71.62v-456.44q0-42.24 29.38-71.62 29.38-29.38 71.62-29.38h183q20.37 0 38.83 7.72 18.46 7.72 32.82 22.2L480-725.74h308.22q42.24 0 71.62 29.38 29.38 29.38 29.38 71.62v372.96q0 42.24-29.38 71.62-29.38 29.38-71.62 29.38H171.78Zm0-101h616.44v-372.96H438.26l-83.48-83.48h-183v456.44Zm0 0v-456.44 456.44Z"
          ></path></svg
        ><span>Моды</span></a
      >
      <a href="/map"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"
          ><path
            d="M480.57-70.78q-84.8 0-159.39-32.18-74.58-32.17-130.04-87.74-55.47-55.56-87.63-130.09-32.16-74.52-32.16-159.26 0-84.81 32.17-159.36 32.18-74.55 87.74-130.02 55.57-55.46 130.09-87.63 74.53-32.16 159.26-32.16 84.82 0 159.09 32.18 74.26 32.17 129.73 87.74 55.46 55.56 87.63 130.09 32.16 74.52 32.16 159.26 0 84.81-32.18 159.36-32.17 74.55-87.74 130.02-55.56 55.46-129.89 87.63-74.33 32.16-158.84 32.16Zm-38.44-102v-77.44q-31.93 0-54.13-22.19-22.19-22.2-22.19-53.75v-38.23L180.35-549.87q-3 17.19-5.5 34.37-2.5 17.18-2.5 34.62 0 117.27 76.55 205.47 76.56 88.19 193.23 102.63Zm265.35-98.74q20-20.94 34.65-45.37 14.65-24.44 25.15-51.37 10.5-26.93 15.72-55.26 5.22-28.32 5.22-57.63 0-94.64-52.06-172.2-52.05-77.56-139.86-112.43v14.87q0 31.8-23.2 54.55-23.21 22.75-54.97 22.75h-76v76.14q0 16.6-11.5 28.1t-28.1 11.5h-77.14v76.74h231.25q16.66 0 28.16 11.5t11.5 28.08v115.03h38.31q25.31 0 45.29 15.22 19.97 15.22 27.58 39.78Z"
          ></path></svg
        ><span>Карта</span></a
      >
      <a href="/about"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"
          ><path
            d="M578.96-653.13q0-39.35-25.83-63.02-25.83-23.68-69.04-23.68-26.61 0-48.85 9.96-22.24 9.96-38.61 31-21.85 25.09-52.95 29.87-31.09 4.78-53.98-13.67-19.4-15.46-22.3-40.78-2.9-25.31 12.75-45.9 35.39-49.5 87.69-75.9 52.29-26.4 116.25-26.4 105.28 0 168.7 59.58 63.43 59.59 63.43 157.5 0 49.9-26.02 98.91-26.03 49.01-78.92 99.73-22 20.19-34.15 36.71-12.15 16.52-19.48 35.5-11.28 25.89-30.39 40.89t-41.74 15q-26.59 0-46.01-17.36-19.42-17.35-19.42-41.81 0-43.52 22.82-83.86 22.83-40.34 65.46-70.95 37.72-26.89 54.15-53.07 16.44-26.19 16.44-58.25ZM484.09-63.52q-38.35 0-65.16-26.81-26.8-26.8-26.8-65.15 0-38.35 26.8-65.43Q445.74-248 484.09-248q38.35 0 65.43 27.09 27.09 27.08 27.09 65.43 0 38.35-27.09 65.15-27.08 26.81-65.43 26.81Z"
          ></path></svg
        ><span>О нас</span></a
      >

      <a href="/news"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"
          ><path
            d="M171.78-109.78q-42.24 0-71.62-29.38-29.38-29.38-29.38-71.62v-538.44q0-42.24 29.38-71.62 29.38-29.38 71.62-29.38h616.44q42.24 0 71.62 29.38 29.38 29.38 29.38 71.62v538.44q0 42.24-29.38 71.62-29.38 29.38-71.62 29.38H171.78Zm0-101h616.44v-538.44H171.78v538.44Zm115.85-78.61h384.74q15.24 0 26.24-11 11-11 11-26.5t-11-26.5q-11-11-26.24-11H287.63q-15.24 0-26.24 11-11 11-11 26.5t11 26.5q11 11 26.24 11Zm.26-153.61h80q15.5 0 26.5-11t11-26.5v-152.61q0-15.5-11-26.5t-26.5-11h-80q-15.5 0-26.5 11t-11 26.5v152.61q0 15.5 11 26.5t26.5 11Zm225.61 0h158.61q15.5 0 26.5-11t11-26.5q0-15.5-11-26.5t-26.5-11H513.5q-15.5 0-26.5 11t-11 26.5q0 15.5 11 26.5t26.5 11Zm0-152.61h158.61q15.5 0 26.5-11t11-26.5q0-15.5-11-26.5t-26.5-11H513.5q-15.5 0-26.5 11t-11 26.5q0 15.5 11 26.5t26.5 11ZM171.78-210.78v-538.44 538.44Z"
          ></path></svg
        ><span>Новости</span></a
      >
    </div>
    <a class="unique-menu-close-button" id="uniqueMenuCloseButton"
      ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"
        ><path
          d="m480-408.85-91.13 91.07q-14.96 14.95-35.26 15.24-20.31.28-35.83-15.24-14.95-14.96-14.95-35.55 0-20.58 14.95-35.54L408.85-480l-91.07-90.63q-14.95-14.96-15.24-35.26-.28-20.31 15.24-35.83 14.96-14.95 35.55-14.95 20.58 0 35.54 14.95L480-550.65l90.63-91.07q14.96-14.95 35.54-14.95 20.59 0 35.55 14.95 14.89 14.89 14.89 35.51 0 20.62-14.89 35.58L550.65-480l91.07 91.13q14.95 14.96 14.95 35.54 0 20.59-14.95 35.55-14.89 14.89-35.51 14.89-20.62 0-35.58-14.89L480-408.85Z"
        ></path></svg
      ></a
    >
  </div>
</div>
<style>
  .header-logo::selection,
  .header-title::selection,
  .header-title-link-back::selection,
  .page-icon::selection,
  .unique-menu-links > a > span::selection {
    background: initial;
    color: inherit;
  }

  .main--header {
    grid-area: header;
    background-color: var(--color-green-400);
    text-align: center;
    width: 100%;
    height: auto;
  }
  .header-title-block {
    max-width: 1440px;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 540px) {
      text-align: center;
      flex-direction: row;
      justify-content: center;
    }
    @media (max-width: 298px) {
      text-align: center;
      flex-direction: column;
      justify-content: center;
    }
  }
  .header-title-dynamic-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 540px) {
      text-align: center;
      flex-direction: row;
      justify-content: left;
    }
    @media (max-width: 298px) {
      text-align: center;
      flex-direction: row;
      justify-content: center;
    }
  }
  .header-title-link-back {
    align-self: center;
    transition: 0.2s;
    margin: 0px 0px 0px 1rem;
    color: var(--color-bg);
    padding: 0.5rem;
    text-decoration: none;
    @media (max-width: 540px) {
      text-align: center;
      margin: 0;
    }
    @media (max-width: 448px) {
      margin: 0;
      font-size: 24px;
      background-color: inherit;
    }
    @media (max-width: 288px) {
      font-size: 18px;
    }
  }
  .header-logo {
    height: 60px;
  }
  .header-title-link-back:hover {
    transform: scale(1.01);
  }
  .header-title {
    color: var(--color-text-title);
    letter-spacing: 1px;
    font-family: Gilroy-black;
    font-size: 44px;
    margin: 0px 0px 0px 1rem;
    padding: 5px;
    @media (max-width: 540px) {
      text-align: center;
      margin: 0;
    }
    @media (max-width: 448px) {
      font-size: 24px;
    }
    @media (max-width: 288px) {
      font-size: 18px;
    }
  }

  .menu-open-button-icon {
    width: 28px;
    height: 28px;
    fill: var(--color-green-100);
    transition: all 0.3s ease;
    background-color: var(--color-green-500);
    padding: 0.5rem;
    border-radius: 5px;
  }
  .menu-open-button-icon:hover {
    fill: var(--color-green-100);
    background-color: var(--color-green-500);
  }
  .menu-open-button {
    color: var(--color-s-green-300);
    cursor: pointer;
    padding: 0;
    border: 0;
    margin: 0px 2rem 0px 0px;
    @media (max-width: 528px) {
      margin: 10px;
    }
  }
  .unique-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    visibility: hidden;
    background-color: var(--color-bg);
  }

  .unique-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    overflow: hidden;
    visibility: hidden;
    transition:
      visibility 0s linear 0.2s,
      transform 0.2s ease-in-out;
  }

  .unique-menu-top {
    height: 35%;
    background-color: var(--color-green-400);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    transition: transform 0.2s ease-in-out;
    transform: translateY(-100%);
    @media (max-width: 768px) {
      height: 35%;
    }
    @media (max-width: 368px) {
      height: 20%;
    }
  }
  #uniqueSplashText::selection {
    background: inherit;
    color: initial;
  }
  #uniqueSplashText {
    color: var(--color-text-title);
    font-family: Gilroy-black;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px 50px 50px 50px;
    margin: 0;
    font-size: 3rem;
    position: relative;
    transition: all 0.3s ease;
    @media (max-width: 768px) {
      font-size: 2rem;
      padding: 40px;
    }
    @media (max-width: 468px) {
      font-size: 1.5rem;
      padding: 20px;
    }
  }
  .unique-menu-content {
    padding: 2rem;
    background-color: var(--color-s-green-100);
    flex-grow: 1;
    transition: transform 0.2s ease-in-out;
    transform: translateY(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
  }

  .unique-menu-links {
    /* background-color: var(--color-bg);*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 480px) {
      margin-top: 7rem;
      grid-template-columns: 1fr;
    }
  }
  .unique-menu-links a {
    font-size: 1.5rem;
    font-family: Gilroy-bold;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-green-300);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    text-transform: uppercase;
    position: relative;
  }
  .unique-menu-links a:hover {
    background-color: var(--color-green-400);
    transition: 0.2s;
  }
  .unique-menu-links a:hover svg {
    background-color: var(--color-green-500);
    transition: 0.2s;
  }
  .unique-menu-links svg {
    background-color: var(--color-green-400);
    padding: 0.5rem;
    border-radius: 10px;
    width: 24px;
    height: 24px;
    fill: var(--color-green-100);
  }

  .unique-menu-links span {
    flex: 1;
    text-align: center;
    letter-spacing: 2px;
    font-family: Gilroy-Black;
  }
  .unique-menu-close-button {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
  .unique-menu-close-button > svg {
    margin: 5px;
    width: 34px;
    height: 34px;
    fill: var(--color-green-100);
  }
  .unique-menu.open {
    visibility: visible;
    transition: visibility 0s linear 0s;
  }

  .unique-menu.open .unique-menu-top {
    transform: translateY(0);
  }

  .unique-menu.open .unique-menu-content {
    background-color: var(--color-bg);
    transform: translateY(0);
  }

  .unique-menu.closing {
    visibility: visible;
    transition:
      visibility 0s linear 0.2s,
      transform 0.2s ease-in-out;
  }

  .unique-menu.closing .unique-menu-top {
    transform: translateY(-100%);
  }

  .unique-menu.closing .unique-menu-content {
    transform: translateY(100%);
  }

  .unique-menu-overlay.open {
    opacity: 1;
    visibility: visible;
  }

  .unique-menu-overlay.closing {
    background-color: var(--color-bg);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }

  body.no-scroll {
    overflow: hidden;
  }
</style>
<script is:inline data-astro-rerun>
  document.addEventListener("astro:page-load", function () {
    const menu = document.getElementById("uniqueMenu");
    const menuOverlay = document.getElementById("uniqueMenuOverlay");
    const openButton = document.querySelector(".menu-open-button");
    const closeButton = document.getElementById("uniqueMenuCloseButton");
    const menuTop = document.getElementById("uniqueMenuTop");
    const splashText = document.getElementById("uniqueSplashText");
    const splashPhrases = [
      "Присоединяйся к нам в Лягушачьем Королевстве!🏰",
      "Исследуй чарующие болота, заводи новых друзей и наслаждайся приключениями!",
      "Лягушки и жабы ждут тебя, чтобы вместе покорять неизведанные болота!",
      "Твое новое приключение начинается здесь...",
      "Присоединяйся к нашему комьюнити и ощути магию Minecraft в мире лягушек и жаб!",
      "Готов к лягушачьим приключениям?",
      "Лягушки зовут тебя!",
      "Погружайся в захватывающие приключения на нашем Minecraft сервере!",
      "Присоединяйся к нашему серверу и стань частью лягушачьего комьюнити!",
      "Sieg der Jab",
      "Встречай лягушек и друзей на нашем сервере! 🐸",
      "Исследуй мир лягушек! 🌍🐸",
      "Лягушки ждут тебя! 🐸✨",
      "Заводи друзей и наслаждайся игрой.",
      "Приключения с лягушками начинаются здесь! 🎮🐸",
      "Присоединяйся к лягушачьей тусовке! 🐸🎉",
      "Лягушки ждут своих героев! 🐸🗺️",
      "Вместе исследуем новые миры.",
      "Прыгай в мир зелёных приключений!",
      "Сервер, где царит атмосфера лягушачьего веселья!",
      "Мир Minecraft глазами лягушек",
    ];

    // Helper function to get a random phrase
    function getRandomPhrase() {
      return splashPhrases[Math.floor(Math.random() * splashPhrases.length)];
    }

    // Open menu
    function openMenu() {
      if (splashText) {
        splashText.textContent = getRandomPhrase();
      }
      if (menu && menuOverlay) {
        menu.classList.remove("closing");
        menuOverlay.classList.remove("closing");
        menu.classList.add("open");
        menuOverlay.classList.add("open");
        document.body.classList.add("no-scroll");
      }
    }

    // Close menu
    function closeMenu() {
      if (menu && menuOverlay) {
        menu.classList.add("closing");
        menuOverlay.classList.add("closing");
        setTimeout(() => {
          menu.classList.remove("open");
          menuOverlay.classList.remove("open");
          menu.classList.remove("closing");
          menuOverlay.classList.remove("closing");
          document.body.classList.remove("no-scroll");
        }, 300); // Убедитесь, что это время совпадает с вашей анимацией CSS
      }
    }

    // Event listeners
    if (openButton) {
      openButton.addEventListener("click", openMenu);
    }
    if (closeButton) {
      closeButton.addEventListener("click", closeMenu);
    }
    if (menuTop) {
      menuTop.addEventListener("click", closeMenu);
    }
  });

  // svg replace
  document.addEventListener("astro:page-load", function () {
    const button = document.querySelector(".menu-open-button");
    if (button) {
      const icon = button.querySelector(".menu-open-button-icon");

      const defaultIcon = `
      <path
        d="M150-240q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h660q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H150Zm0-210q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h660q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H150Zm0-210q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h660q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H150Z"
      ></path>
    `;

      const hoverIcon = `
      <path
        d="M150-240q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h460q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H150Zm627-74L630-460q-9-9-9-21t9-21l146-146q9-9 21.5-9t21.5 9q9 9 9 21.5t-9 21.5L695-481l125 125q9 9 9 21t-9 21q-9 9-21.5 9t-21.5-9ZM150-452q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h340q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H150Zm0-208q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h460q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H150Z"
      ></path>
    `;

      button.addEventListener("mouseenter", function () {
        icon.innerHTML = hoverIcon;
      });

      button.addEventListener("mouseleave", function () {
        icon.innerHTML = defaultIcon;
      });
    }
  });
</script>
