<h1>Text</h1>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem aspernatur odio
  aliquid facere nisi voluptate? Soluta molestiae quam deleniti quaerat rerum.
  Animi voluptas dolor aliquid quis odio ratione fugiat at veniam nesciunt
  explicabo modi, distinctio doloremque, optio repudiandae aperiam qui hic
  quidem adipisci! Magni itaque culpa libero aspernatur odio. Dolore facere
  inventore adipisci, incidunt animi delectus debitis nam quo, quod expedita
  voluptatibus placeat nobis itaque velit ad voluptate vel assumenda provident
  necessitatibus nostrum nesciunt? Tempore, sequi ipsum. Sint, magnam
  aspernatur? Molestiae molestias vel officia enim quidem perferendis
  praesentium adipisci animi eius repellat sed voluptas, perspiciatis magnam
  odit sapiente minima facere cupiditate velit commodi eaque neque labore et
  culpa ullam. Tempore quod tenetur quae ratione quis. A, deleniti voluptas
  molestias vitae vel repudiandae maxime esse provident ut velit magni dolor
  quos dolorem sequi minus repellat ratione iste, doloremque adipisci dolore
  fuga. Perspiciatis nobis temporibus dolor vel dolorum. Quo vel illo modi vero
  autem rerum, deleniti eum iste aut fugit perspiciatis saepe voluptates harum.
  Non molestias dolorum vel tenetur, quidem similique itaque, dolore quis minus
  voluptates accusamus enim? Qui illum, cupiditate tenetur reiciendis ea
  accusantium asperiores adipisci eaque, assumenda ab praesentium! Aliquam error
  nostrum laborum nihil esse recusandae dolorem, eos ipsa maxime!
</p>

<style>
  .MainPage {
    grid-area: content;
    padding: 2rem;
    background-color: #f1f1f1;
  }
</style>
