---

---

<h1 class="page-heading">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere tenetur
  eveniet quam ea veniam delectus facilis esse officia? Earum, eius?
</h1>
<div class="wrapper">
  <div class="gameplay-block">
    <h1 class="gameplay-heading">Начало</h1>
    <p class="gameplay-text">
      Toadland - это уникальный мир Minecraft, созданный на версии 1.20.1 с
      модами fabric, где каждое приключение становится особенно захватывающим.
      Благодаря уникальной генерации ландшафта, каждый уголок мира полон новых и
      удивительных особенностей. Исследование разнообразных биомов и
      нестандартных ландшафтов превращается в увлекательное путешествие, где
      каждое открытие приносит радость и вдохновение. Эта система генерации
      создает неповторимые природные формации и ландшафтные элементы, которые
      будут радовать глаз и вызывать желание продолжать исследование.
    </p>
  </div>

  <div class="gameplay-block-second">
    <div class="video-container">
      <video autoplay muted loop>
        <source src="/assets/create.webm" type="video/webm" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <!--       -->
  <div class="seasons-block">
    <h1 class="seasons-heading">Смена сезонов</h1>
    <p class="seasons-text">
      Смена сезонов в Toadland добавляет реалистичности и глубины в процесс
      сельского хозяйства. Растения растут медленнее зимой и быстрее летом, что
      требует от тебя стратегического планирования и умения адаптироваться к
      климатическим условиям. Зимой тебе придется тщательно следить за своим
      урожаем и готовиться к весне, а летом – использовать все возможности для
      максимального роста и сбора плодов. Эти сезонные изменения делают каждый
      период года важным элементом твоего плана, добавляя сложности и реализма в
      игровой процесс.
    </p>
  </div>
  <div class="seasons-block-second">
    <div class="video-container">
      <video autoplay muted loop>
        <source src="/assets/create.webm" type="video/webm" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <!--       -->
  <div class="create-block">
    <h1 class="create-heading">Механики мода Create</h1>
    <p class="create-text">
      Механики мода Create предоставляют тебе возможность погрузиться в мир
      сложных и инновационных механизмов. Этот мод откроет перед тобой целый
      спектр возможностей для автоматизации процессов, что значительно упростит
      и ускорит выполнение задач. Построй сложные машины, заводы и системы,
      которые помогут тебе эффективно управлять ресурсами и улучшить свой
      игровой процесс. С Create каждый проект становится более масштабным и
      интересным, предоставляя новые горизонты для творчества и инженерного
      мышления.
    </p>
  </div>
  <div class="create-block-second">
    <div class="video-container">
      <video autoplay muted loop>
        <source src="/assets/create.webm" type="video/webm" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="overlay-content"></div>
  </div>
  <!--       -->
  <div class="coocking-block">
    <h1 class="coocking-heading">Кулинария</h1>
    <p class="coocking-text">
      Если ты увлекаешься кулинарией, Toadland предложит тебе уникальные
      возможности для пивоварения и создания вин. Используй специальное
      оборудование, такое как плиты и сковороды, чтобы готовить различные блюда
      и напитки. Экспериментируй с ингредиентами и рецептами, создавая
      уникальные кулинарные шедевры, которые можно не только употреблять, но и
      показывать друзьям. Эта система добавляет разнообразие в игру, позволяя
      тебе насладиться процессом приготовления и дегустации пищи.
    </p>
  </div>
  <div class="coocking-block-second">
    <div class="video-container">
      <video autoplay muted loop>
        <source src="/assets/create.webm" type="video/webm" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>
<style lang="scss">
  @mixin block-heading {
    margin: 0;
    color: var(--color-accent);
    background: var(--color-green-400);
    padding: 1rem;
    font-size: 28px;
    border-radius: 15px;

    @media (max-width: 1080px) {
      font-size: 1.5rem;
    }
  }
  * {
    font-family: Gilroy-bold;
  }
  .page-heading {
    padding: 1rem;
    color: var(--color-black);
  }
  .gameplay-heading,
  .seasons-heading,
  .create-heading,
  .coocking-heading {
    @include block-heading();
  }
  .coocking-heading:before {
    content: "🧑‍🍳";
    background-color: var(--color-green-500);
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 10px;
  }
  .create-heading:before {
    content: "⚙️";
    background-color: var(--color-green-500);
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 10px;
  }
  .seasons-heading:before {
    content: "🍂";
    background-color: var(--color-green-500);
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 10px;
  }
  .gameplay-heading::before {
    content: "👾";
    background-color: var(--color-green-500);
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 10px;
  }
  .gameplay-text,
  .seasons-text,
  .create-text,
  .coocking-text {
    white-space: wrap;
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: var(--color-black);
    @media (max-width: 1300px) {
      font-size: 18px;
    }
    @media (max-width: 1080px) {
      font-size: 16px;
    }
  }

  .video-container {
    position: absolute;
    border-radius: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    @media (max-width: 598px) {
      display: none;
    }
  }

  .video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 598px) {
      display: none;
    }
  }

  .overlay-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    @media (max-width: 598px) {
      display: none;
    }
  }
  @media screen and (max-width: 868px) {
    .wrapper {
      grid-template-areas:
        "gameplay1"
        "seasons1 "
        "create1"
        "coocking1 ";
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 1rem;
    }
  }
  .wrapper {
    margin: 0 auto;
    display: grid;
    padding: 1rem;
    grid-template-areas:
      "gameplay1 gameplay2"
      "seasons2 seasons1"
      "create1 create2"
      "coocking2 coocking1";
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 3rem;
    @media (max-width: 868px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      gap: 1rem;
    }
  }
  .gameplay-block-second,
  .seasons-block-second,
  .create-block-second,
  .coocking-block-second {
    @media (max-width: 598px) {
      display: none;
    }
  }
  .gameplay-block {
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    grid-area: gameplay1;
  }

  .gameplay-block-second {
    grid-area: create2;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    grid-area: gameplay2;
  }
  .seasons-block {
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    grid-area: seasons1;
  }
  .seasons-block-second {
    grid-area: seasons2;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
  }
  .create-block {
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 15px;
    grid-area: create1;
    position: relative;
    overflow: hidden;
  }
  .create-block-second {
    grid-area: create2;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
  }
  .coocking-block {
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    grid-area: coocking1;
  }
  .coocking-block-second {
    grid-area: coocking2;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
  }
</style>
<script is:inline data-astro-rerun>
  document.addEventListener("astro:page-load", function () {
    let removedElements = [];

    function removeElements() {
      const selectors = [
        ".gameplay-block-second",
        ".seasons-block-second",
        ".create-block-second",
        ".coocking-block-second",
        ".overlay-content",
        ".video-container video",
        ".video-container",
      ];

      selectors.forEach((selector) => {
        const elements = document.querySelectorAll(selector);
        elements.forEach((element) => {
          removedElements.push({
            element: element,
            parent: element.parentNode,
          });
          element.remove();
        });
      });
    }

    function restoreElements() {
      removedElements.forEach((item) => {
        item.parent.appendChild(item.element);
      });
      removedElements = [];
    }

    function handleResize(event) {
      if (event.matches) {
        removeElements();
      } else {
        restoreElements();
      }
    }

    const mediaQuery = window.matchMedia("(max-width: 598px)");
    mediaQuery.addEventListener("change", handleResize);

    // Initial check
    if (mediaQuery.matches) {
      removeElements();
    }
  });
</script>
