<div class="main-page-heading-wrapper">
  <h1 class="main-page-heading">
    Приватный сервер с модами, который обеспечит Вам стабильный и комфортный
    геймплей. Мы постоянно совершенствуемся во всех сферах, стараясь сделать
    всё, чтобы играть Вам было приятно и интересно. Что же такое Toadland
    подробнее?..
  </h1>
</div>
<div class="MainPage">
  <div class="info-block">
    <span class="info-block-heading-wrapper">
      <span class="emoji">🦎</span><h2 class="info-block-heading">
        Разнообразная фауна
      </h2></span
    >
    <p class="info-block-text">
      Игроки могут взаимодействовать с разнообразными лягушками, добавляющими
      новую дикую природу в игру и улучшая экологический опыт. Исследуй мир и
      встречай новых и старых знакомцев в новом облике!
    </p>
  </div>
  <div class="info-block">
    <span class="info-block-heading-wrapper">
      <span class="emoji">🍂</span><h2 class="info-block-heading">
        Сезонная динамика
      </h2></span
    >
    <p class="info-block-text">
      Система смены сезонов делает игровой процесс реалистичным и захватывающим.
      Приспосабливайся к изменяющимся условиям и используй их для своего
      преимущества!
    </p>
  </div>
  <div class="info-block">
    <span class="info-block-heading-wrapper"
      ><span class="emoji">⚙️</span><h2 class="info-block-heading">
        Механизмы Create
      </h2></span
    >
    <p class="info-block-text">
      Возможность строить сложные машины и системы автоматизации с помощью мода
      Create, что позволяет эффективно управлять ресурсами и проявлять
      креативность. Создавай механизмы, экспериментируй и находи новые решения
      для автоматизации!
    </p>
  </div>
  <div class="info-block">
    <span class="info-block-heading-wrapper"
      ><span class="emoji">💵</span><h2 class="info-block-heading">
        Система экономики
      </h2></span
    >
    <p class="info-block-text">
      Экономика, управляемая игроками, где можно торговать товарами и услугами,
      создавая процветающее сообщество с системой внутриигровой валюты.
      Зарабатывай ресурсы и стань влиятельным торговцем!
    </p>
  </div>

  <div class="info-block">
    <span class="info-block-heading-wrapper">
      <span class="emoji">🍺</span><h2 class="info-block-heading">
        Варка алкоголя и напитков
      </h2></span
    >
    <p class="info-block-text">
      Создавайте и наслаждайтесь различными алкогольными напитками, добавляя
      забавный и уникальный элемент в ваши приключения в Minecraft.
      экспериментируй с ингредиентами и создавай напитки, которыми можно
      гордиться!
    </p>
  </div>
  <div class="info-block">
    <span class="info-block-heading-wrapper"
      ><span class="emoji">🥐</span><h2 class="info-block-heading">
        Выпечка и кулинария
      </h2></span
    >
    <p class="info-block-text">
      Расширенные возможности в выпечке и кулинарии, готовьте новые блюда и
      делайте игровой опыт еще более разнообразным. Оборудуй свой дом всем
      необходимым для настоящей кулинарии. Сковороды, плиты, печи и многое
      другое ждут тебя для создания гастрономических шедевров!
    </p>
  </div>
  <div class="info-block">
    <span class="info-block-heading-wrapper"
      ><span class="emoji">🥕</span><h2 class="info-block-heading">
        Улучшенное фермерство
      </h2></span
    >
    <p class="info-block-text">
      Усовершенствованные системы фермерства позволяют выращивать больше типов
      растений и животных, делая процесс фермерства интереснее и продуктивнее.
      Выращивай и продавай редкие растения, экспериментируй с кроссбридингом.
    </p>
  </div>

  <div class="info-block">
    <span class="info-block-heading-wrapper">
      <span class="emoji">🌍</span><h2 class="info-block-heading">
        Измененная генерация мира
      </h2></span
    >
    <p class="info-block-text">
      Исследуйте мир с уникальными ландшафтами и биомами благодаря измененной
      генерации мира, что делает каждое путешествие по-своему неповторимым и
      увлекательным.
    </p>
  </div>
</div>
<style>
  .main-page-heading-wrapper {
    text-align: center;

    margin: 0 auto;
    background-color: var(--color-green-450);
    padding: 2rem;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  .main-page-heading {
    color: var(--color-sun-yellow-100);
    font-family: Gilroy-black;
    text-align: center;
    margin: 0;
    font-size: 2rem;
    padding-top: 1rem;
    @media (max-width: 378px) {
      font-size: 20px;
    }
  }

  .info-block {
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 280px;
    background-color: var(--color-green-300);
    border-radius: 15px;

    @media (max-width: 700px) {
      width: 250px;
      height: 300px;
      padding: 1rem;
    }
    @media (max-width: 668px) {
      width: 300px;
      height: 300px;
      padding: 1rem;
    }
    @media (max-width: 458px) {
      width: 250px;
      height: auto;
      padding: 1rem;
    }
    @media (max-width: 368px) {
      width: auto;
      padding: 1rem;
      height: auto;
    }
    @media (max-width: 298px) {
      width: 170px;
      padding: 1rem;
      height: auto;
    }
    @media (max-width: 268px) {
      width: 140px;
      padding: 1rem;
      height: auto;
    }
  }
  .emoji::selection {
    background-color: none;
  }
  .emoji {
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 2rem;
    justify-self: left;
    align-self: top;
    @media (max-width: 368px) {
      font-size: 1.5rem;
    }
    @media (max-width: 298px) {
      font-size: 1rem;
    }
    @media (max-width: 268px) {
      font-size: 0.8rem;
    }
  }
  .info-block-heading-wrapper {
    text-align: center;
    background: var(--color-green-400);
    display: flex;
    width: 100%;

    border-radius: 15px;
    height: auto;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
  .info-block-heading {
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    color: var(--color-sun-yellow-300);
    font-family: Gilroy-black;
    @media (max-width: 368px) {
      font-size: 1.1rem;
    }
    @media (max-width: 298px) {
      font-size: 1rem;
    }
    @media (max-width: 268px) {
      font-size: 0.8rem;
    }
  }

  .info-block-text {
    text-align: center;
    color: var(--color-bg);
    font-family: Gilroy-bold;
    align-content: center;
    margin: 0;
    @media (max-width: 368px) {
      font-size: 16px;
    }
    @media (max-width: 298px) {
      font-size: 14px;
    }
    @media (max-width: 268px) {
      font-size: 12px;
    }
  }
  .MainPage {
    justify-content: center;
    margin: 0;
    display: grid;
    grid-area: content;
    justify-items: center;
    align-items: start;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    padding: 2rem;
    @media (max-width: 1380px) {
      grid-template-columns: repeat(3, auto);
    }
    @media (max-width: 1068px) {
      grid-template-columns: repeat(2, auto);
    }
    @media (max-width: 668px) {
      grid-template-columns: repeat(1, auto);
    }
  }
</style>
<script></script>
