<h1 class="main-page-heading">ToadLand это:</h1>
<div class="MainPage">
  <div class="info-block">
    <h2 class="info-block-heading">Ответ 1</h2>
    <p class="info-block-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
      magnam explicabo perspiciatis! Pariatur nesciunt at, atque asperiores
      officiis doloremque itaque tempora dolores. Ducimus debitis optio impedit
      porro maxime, eius nostrum.
    </p>
  </div>
  <div class="info-block">
    <h2 class="info-block-heading">Ответ2</h2>
    <p class="info-block-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
      magnam explicabo perspiciatis! Pariatur nesciunt at, atque asperiores
      officiis doloremque itaque tempora dolores. Ducimus debitis optio impedit
      porro maxime, eius nostrum.
    </p>
  </div>
  <div class="info-block">
    <h2 class="info-block-heading">Ответ 3</h2>
    <p class="info-block-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
      magnam explicabo perspiciatis! Pariatur nesciunt at, atque asperiores
      officiis doloremque itaque tempora dolores. Ducimus debitis optio impedit
      porro maxime, eius nostrum.
    </p>
  </div>
  <div class="info-block">
    <h2 class="info-block-heading">Ответ4</h2>
    <p class="info-block-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
      magnam explicabo perspiciatis! Pariatur nesciunt at, atque asperiores
      officiis doloremque itaque tempora dolores. Ducimus debitis optio impedit
      porro maxime, eius nostrum.
    </p>
  </div>
  <div class="info-block">
    <h2 class="info-block-heading">Ответ 5</h2>
    <p class="info-block-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
      magnam explicabo perspiciatis! Pariatur nesciunt at, atque asperiores
      officiis doloremque itaque tempora dolores. Ducimus debitis optio impedit
      porro maxime, eius nostrum.
    </p>
  </div>
</div>

<style>
  .main-page-heading {
    text-align: center;
    margin: 0;
    padding-top: 1rem;
  }
  .MainPage {
    justify-content: center;
    margin: 0;
    display: grid;
    grid-area: content;
    justify-items: center;
    align-items: start;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    padding: 2rem;
    background-color: var(--color-bg);
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, auto);
    }
    @media (max-width: 568px) {
      grid-template-columns: repeat(1, auto);
    }
  }
  .info-block {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    max-width: 250px;
    max-height: 250px;
    background-color: red;
    padding: 1rem;
    border-radius: 15px;
  }
  .info-block-heading {
    align-items: flex-start;
    text-align: center;
    margin: 0;
  }
  .info-block-text {
    margin: 0;
    @media (max-width: 268px) {
      font-size: 12px;
    }
  }
</style>
