<div class="MainPage">
  <h1>Lorem, ipsum dolor.</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, similique
    autem facilis repudiandae eius eligendi alias unde rerum ullam quis fugit
    dolorem, sint quisquam cupiditate aliquam? Eos aliquid dignissimos nisi
    corporis adipisci iste quasi vitae ipsa nam. Architecto doloribus
    accusantium repellat quis sit, perferendis quia amet temporibus, sequi
    possimus hic ad, nisi provident cum earum ab unde! Neque fugit voluptate aut
    dolor quos. Sequi, maiores assumenda! Ratione, cum ducimus. Facere ad sint
    officiis alias maxime eum ex? Optio temporibus nobis quae. Suscipit
    distinctio nam possimus, exercitationem consequatur beatae ut aut impedit
    sed aperiam id doloribus itaque rerum fugit quam quisquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, similique
    autem facilis repudiandae eius eligendi alias unde rerum ullam quis fugit
    dolorem, sint quisquam cupiditate aliquam? Eos aliquid dignissimos nisi
    corporis adipisci iste quasi vitae ipsa nam. Architecto doloribus
    accusantium repellat quis sit, perferendis quia amet temporibus, sequi
    possimus hic ad, nisi provident cum earum ab unde! Neque fugit voluptate aut
    dolor quos. Sequi, maiores assumenda! Ratione, cum ducimus. Facere ad sint
    officiis alias maxime eum ex? Optio temporibus nobis quae. Suscipit
    distinctio nam possimus, exercitationem consequatur beatae ut aut impedit
    sed aperiam id doloribus itaque rerum fugit quam quisquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, similique
    autem facilis repudiandae eius eligendi alias unde rerum ullam quis fugit
    dolorem, sint quisquam cupiditate aliquam? Eos aliquid dignissimos nisi
    corporis adipisci iste quasi vitae ipsa nam. Architecto doloribus
    accusantium repellat quis sit, perferendis quia amet temporibus, sequi
    possimus hic ad, nisi provident cum earum ab unde! Neque fugit voluptate aut
    dolor quos. Sequi, maiores assumenda! Ratione, cum ducimus. Facere ad sint
    officiis alias maxime eum ex? Optio temporibus nobis quae. Suscipit
    distinctio nam possimus, exercitationem consequatur beatae ut aut impedit
    sed aperiam id doloribus itaque rerum fugit quam quisquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, similique
    autem facilis repudiandae eius eligendi alias unde rerum ullam quis fugit
    dolorem, sint quisquam cupiditate aliquam? Eos aliquid dignissimos nisi
    corporis adipisci iste quasi vitae ipsa nam. Architecto doloribus
    accusantium repellat quis sit, perferendis quia amet temporibus, sequi
    possimus hic ad, nisi provident cum earum ab unde! Neque fugit voluptate aut
    dolor quos. Sequi, maiores assumenda! Ratione, cum ducimus. Facere ad sint
    officiis alias maxime eum ex? Optio temporibus nobis quae. Suscipit
    distinctio nam possimus, exercitationem consequatur beatae ut aut impedit
    sed aperiam id doloribus itaque rerum fugit quam quisquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, similique
    autem facilis repudiandae eius eligendi alias unde rerum ullam quis fugit
    dolorem, sint quisquam cupiditate aliquam? Eos aliquid dignissimos nisi
    corporis adipisci iste quasi vitae ipsa nam. Architecto doloribus
    accusantium repellat quis sit, perferendis quia amet temporibus, sequi
    possimus hic ad, nisi provident cum earum ab unde! Neque fugit voluptate aut
    dolor quos. Sequi, maiores assumenda! Ratione, cum ducimus. Facere ad sint
    officiis alias maxime eum ex? Optio temporibus nobis quae. Suscipit
    distinctio nam possimus, exercitationem consequatur beatae ut aut impedit
    sed aperiam id doloribus itaque rerum fugit quam quisquam.
  </p>
</div>

<style>
  .MainPage {
    grid-area: content;
    padding: 2rem;
    background-color: var(--color-bg);
  }
</style>
