<div class="main-container">
  <div class="main-section">
    <div class="main-media">
      <img src="/assets/images/1.png" alt="Toadland World Image" />
      <!-- <video autoplay muted loop src="/assets/create.webm"></video> -->
    </div>
    <div class="main-section-content">
      <h2>1. Что такое Toadland?</h2>
      <p>
        Приветствуем вас в Toadland, Minecraft сервере версии 1.20.1! 🌍 Здесь
        вы найдете разнообразные моды, которые сделают ваш игровой опыт
        уникальным. Каждый сезон принесет новые испытания и возможности, делая
        игру более живой и захватывающей. Готовьтесь исследовать и творить в
        этом удивительном мире!
      </p>
    </div>
  </div>

  <div class="main-section">
    <div class="main-media">
      <img src="/assets/images/4.png" alt="Season Change Image" />
      <!-- <video autoplay muted loop src="/assets/create.webm"></video> -->
    </div>
    <div class="main-section-content">
      <h2>2. Смена пор года</h2>
      <p>
        Смена пор года в Toadland – это что-то особенное! 🍂❄️☀️ Каждый сезон
        приносит свои вызовы и радости: летом наслаждайтесь зелеными лугами и
        соберите урожай, а зимой боритесь с холодом и снегом. Эти изменения
        делают выживание интересным и добавляют стратегии в вашу игру.
      </p>
    </div>
  </div>

  <div class="main-section">
    <div class="main-media">
      <img src="/assets/images/3.jpg" alt="Brewing Image" />
      <!-- <video autoplay muted loop src="/assets/create.webm"></video> -->
    </div>
    <div class="main-section-content">
      <h2>3. Варка алкоголя</h2>
      <p>
        Любите варить алкоголь? В Toadland это возможно! 🍷 Создавайте свои
        напитки, экспериментируя с разными ингредиентами и рецептами. Процесс
        варки требует терпения и навыков, но результат стоит того. Постройте
        свою собственную пивоварню или винодельню и станьте мастером алкогольных
        напитков!
      </p>
    </div>
  </div>

  <div class="main-section">
    <div class="main-media">
      <img src="/assets/images/2.jpg" alt="Cooking Image" />
      <!-- <video autoplay muted loop src="/assets/create.webm"></video> -->
    </div>
    <div class="main-section-content">
      <h2>4. Кулинарные приключения</h2>
      <p>
        Кулинарные приключения ждут вас! 🍳 В Toadland можно готовить
        разнообразные блюда, используя новые рецепты и ингредиенты. Станьте
        шеф-поваром, экспериментируйте с продуктами и удивляйте друзей своими
        кулинарными шедеврами. Это добавляет игре глубину и позволяет проявить
        творческий подход к готовке.
      </p>
    </div>
  </div>

  <div class="main-section">
    <div class="main-media">
      <img src="/assets/images/1.png" alt="Farming Image" />
      <!-- <video autoplay muted loop src="/assets/create.webm"></video> -->
    </div>
    <div class="main-section-content">
      <h2>5. Дополнительные сельскохозяйственные культуры</h2>
      <p>
        Выращивайте новые сельскохозяйственные культуры! 🌱 В Toadland вы
        найдете множество новых растений для выращивания. Создавайте обширные
        фермы, выращивайте экзотические фрукты и овощи. Используйте новые
        культуры для приготовления уникальных блюд и напитков, что добавит новые
        элементы стратегии и управления ресурсами.
      </p>
    </div>
  </div>

  <div class="main-section">
    <div class="main-media">
      <img src="/assets/images/4.png" alt="World Generation Image" />
      <!-- <video autoplay muted loop src="/assets/create.webm"></video> -->
    </div>
    <div class="main-section-content">
      <h2>6. Улучшенная генерация мира</h2>
      <p>
        Исследуйте уникальные ландшафты и биомы! 🏞️ В Toadland улучшена
        генерация мира, что делает каждый биом более разнообразным и
        захватывающим. Открывайте новые территории, полные секретов и
        удивительных видов. Природа здесь удивляет и вдохновляет на великие
        свершения!
      </p>
    </div>
  </div>

  <div class="main-section">
    <div class="main-media">
      <img src="/assets/images/3.jpg" alt="Toadland Toads Image" />
      <!-- <video autoplay muted loop src="/assets/create.webm"></video> -->
    </div>
    <div class="main-section-content">
      <h2>7. Жабы и измененные мобы</h2>
      <p>
        Новые жабы и измененные мобы ждут вас! 🐸 В Toadland добавлены
        уникальные жабы, а также изменены ванильные мобы. Каждый из них имеет
        свои особенности и может быть как другом, так и врагом. Откройте для
        себя новых существ и взаимодействуйте с ними по-новому!
      </p>
    </div>
  </div>

  <div class="main-section">
    <div class="main-media">
      <img src="/assets/images/2.jpg" alt="Friendly Players Image" />
      <!-- <video autoplay muted loop src="/assets/create.webm"></video> -->
    </div>
    <div class="main-section-content">
      <h2>8. Дружное сообщество игроков</h2>
      <p>
        Сообщество в Toadland - это дружелюбие и поддержка! 😊 На сервере царит
        атмосфера дружбы и взаимопомощи. Новички всегда могут рассчитывать на
        помощь, а опытные игроки найдут здесь новых друзей и единомышленников.
        Присоединяйтесь к нам и становитесь частью этой теплой компании!
      </p>
    </div>
  </div>

  <div class="main-section">
    <div class="main-media">
      <img src="/assets/images/1.png" alt="Roleplay Image" />
      <!-- <video autoplay muted loop src="/assets/create.webm"></video> -->
    </div>
    <div class="main-section-content">
      <h2>9. Элементы РП</h2>
      <p>
        Погрузитесь в элементы РП на сервере! 🎭 В Toadland вы можете создавать
        свои роли, играть сценарии и развивать своего персонажа. Окунитесь в
        атмосферу ролевых игр, участвуйте в сюжетных линиях и создавайте свою
        уникальную историю. Это отличное место для тех, кто любит погружаться в
        игровые миры и играть по-настоящему.
      </p>
    </div>
  </div>

  <div class="main-section">
    <div class="main-media">
      <!--<img src="your-image-url-here.jpg" alt="Economy and Create Image" /> -->
      <video autoplay muted loop src="/assets/create.webm"></video>
    </div>
    <div class="main-section-content">
      <h2>10. Экономика и механизмы create</h2>
      <p>
        Развитая экономика и механизмы create! 💰🔧 В Toadland существует
        сложная экономическая система, где можно торговать и создавать бизнесы.
        Механизмы create добавляют новые возможности для автоматизации и
        строительства сложных машин. Стройте заводы, фермы и другие структуры,
        упрощая свою жизнь и сосредотачиваясь на творчестве и исследованиях.
      </p>
    </div>
  </div>
</div>
<style>
  .main-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
  }

  .main-section {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }

  .main-media {
    width: 40%;
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .main-media img,
  .main-media video {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  .main-section-content {
    width: 60%;
  }

  .main-section-content h2 {
    font-family: gilroy-bold;
    color: var(--color-green-400);
    font-size: 2em;
    margin-bottom: 20px;
  }

  .main-section-content p {
    font-family: gilroy-medium;
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .main-section:nth-child(even) {
    flex-direction: row-reverse;
  }

  .main-section:nth-child(even) .main-media {
    margin-left: 20px;
    margin-right: 0;
  }
  /* Адаптивные стили */
  @media (max-width: 768px) {
    .main-section {
      flex-direction: column;
      text-align: center;
    }

    .main-media {
      width: 100%;
      margin: 0 0 20px 0;
    }

    .main-section-content {
      width: 100%;
    }

    .main-section-content h2 {
      font-size: 1.8em;
    }

    .main-section-content p {
      font-size: 1.1em;
    }
  }

  @media (max-width: 480px) {
    .main-header h1 {
      font-size: 2.5em;
    }

    .main-section-content h2 {
      font-size: 1.6em;
    }

    .main-section-content p {
      font-size: 1em;
    }

    .main-footer p {
      font-size: 1em;
    }
  }
</style>
