body {
    overflow-x: hidden;
}

@-moz-keyframes blurFade {
    from {
        transform: translateY(5%);

        opacity: 0;
        filter: blur(30px);
    }

    to {
        transform: translateY(0);

        opacity: 1;
        filter: blur(0);
    }
}

@keyframes blurFade {
    from {
        transform: translateY(5%);

        opacity: 0;
        filter: blur(30px);
    }

    to {
        transform: translateY(0);

        opacity: 1;
        filter: blur(0);
    }
}

[data-astro-transition="animate"] {
    animation: blurFade 0.2s linear;
    -moz-animation: blurFade 0.2s linear;
    max-width: 100vw;
    overflow: hidden;
}