body {
    overflow-x: hidden;
}

@-moz-keyframes blurFade {
    from {
        margin: 100%;
        opacity: 0;
        filter: blur(30px);
    }

    to {
        margin: 0;
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes blurFade {
    from {
        margin: 100%;
        opacity: 0;
        filter: blur(30px);
    }

    to {
        margin: 0;
        opacity: 1;
        filter: blur(0);
    }
}

[data-astro-transition="animate"] {
    animation: blurFade 0.3s linear;
    max-width: 100vw;
    overflow: hidden;
}