---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <style is:global>
      :root {
        --color-bg: #f0f7da;
        --color-green-100: #e9f29c;
        --color-green-200: #a7d129;
        --color-green-300: #7fb069;
        --color-green-400: #4d6d46;
        --color-green-500: #364d2e;
      }
      body,
      html {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      .main--wrapper {
        width: 100%;
        background-color: var(--color-bg);
        display: grid;
        height: 100%;
      }
    </style>
    <div class="main--wrapper">
      <Header />
      <slot slot="MainPage" />
      <Footer />
    </div>
  </body>
</html>
