---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { fade } from "astro:transitions";
import { slide } from "astro:transitions";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta property="og:description" content={description} />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <meta
      property="og:image"
      content="https://minenya.vercel.app/assets/images/icone2.webp"
    />
    <meta
      property="og:image:secure_url"
      content="https://minenya.vercel.app/assets/images/icon2.webp"
    />
    <meta property="og:image:type" content="image/webp" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="logoImage" />
    <meta
      name="keywords"
      content="Тодленд, toadland, тод ленд, тоад ленд, toad land, тоад land, Тод land, майнкрафт сервер, приватный сервер minecraft, mineacraft toadland, minecraft, майнкрафт, сервер майнкрафт, сервер с жабами, майнкрафт с жабами"
    />
    <ViewTransitions />
  </head>
  <body>
    <style is:global>
      @font-face {
        font-family: "Gilroy";
        src: url("/fonts/Gilroy-Regular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Gilroy-black";
        src: url("/fonts/Gilroy-Black.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Gilroy-bold";
        src: url("/fonts/Gilroy-Bold.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      * {
        font-family: Gilroy;
      }
      :root {
        --color-black: #1d1e18;
        --color-bg: #f0f7da;
        --color-s-green-100: #f4f7e4;
        --color-s-green-150: #e4edd9;
        --color-s-green-200: #d2dfb2;
        --color-s-green-300: #a8bc95;
        --color-s-green-400: #849b74;
        --color-s-green-500: #677b5b;
        --color-main-green: #b2c98a;

        --color-green-100: #e0e6c3;
        --color-green-200: #cfd8a8;
        --color-green-300: #b6c28a;
        --color-green-400: #a2af7b;
        --color-green-450: #98a671;
        --color-green-500: #8e9d67;

        /* Дополнительные природные цвета */
        --color-water-blue-100: #cce4f6; /* Светлый голубой */
        --color-water-blue-200: #99c9ed; /* Голубой */
        --color-water-blue-300: #66afe3; /* Насыщенный голубой */

        --color-earth-brown-100: #e5c8b5; /* Светлый коричневый */
        --color-earth-brown-200: #d1a689; /* Коричневый */
        --color-earth-brown-300: #bd835c; /* Насыщенный коричневый */

        --color-sun-yellow-100: #fff4a3; /* Светлый желтый */
        --color-sun-yellow-200: #ffea66; /* Желтый */
        --color-sun-yellow-300: #ffde29; /* Насыщенный желтый */

        /* Нейтральные цвета */
        --color-neutral-100: #f5f5f5; /* Очень светлый серый */
        --color-neutral-200: #e0e0e0; /* Светлый серый */
        --color-neutral-300: #cccccc; /* Нейтральный серый */
      }
      body {
        margin: 0;
        padding: 0;
        background-color: var(--color-bg);
      }
      .main--wrapper {
        display: grid;
        grid-template-areas:
          "header"
          "content"
          "footer";
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
      }
      .slide-enter {
        transform: translateX(100%);
        opacity: 0;
      }

      .slide-enter-active {
        transform: translateX(0);
        opacity: 1;
        transition:
          transform 300ms ease-in-out,
          opacity 300ms ease-in-out;
      }

      .slide-exit {
        transform: translateX(0);
        opacity: 1;
      }

      .slide-exit-active {
        transform: translateX(-100%);
        opacity: 0;
        transition:
          transform 300ms ease-in-out,
          opacity 300ms ease-in-out;
      }
    </style>
    <div transition:animate={fade({ duration: "0.5s" })} class="main--wrapper">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
<script></script>
